{% extends '../base.html' %}

{% block title %}
    {% if object.id == 0 %}
        Começo
    {% else %}
        Passo {{object}}
    {% endif %}
{% endblock %}

{% block content %}
    <p>{{ object.content }}</p>
    <div id="options">
    {% for opcao in object.nextsteps.all %}
        {% if opcao.id == 0 %}
            <a href="{% url 'solo:step-detail' opcao.id %} ">Recomeçar</a>
        {% else %}
            <a href="{% url 'solo:step-detail' opcao.id %} ">{{opcao}}</a>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}