@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

*{
    font-family: "Trade Winds";
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    width: 50vw;
}

#options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1, a{
    color: #5e100c;
}

a:link
{
    text-decoration: none;
}